/*
.container .breadcrumb {
    border-radius: 0;
    border-bottom: 1px solid #ccc
}
*/

/*
.nav-tabs {
    login.imls
    border-bottom: 1px solid #ccc
}

.nav-tabs .nav-link.active {
    border-bottom: .188em solid var(--skin-primary-color-1)
}

*/

/*
08/26/22
remove the margin top between navTaps.isml and loginForm.isml
.login-page .login-form-nav .tab-pane {
    margin-top: 1em
}
*/