.footer-container-paddings {
    padding-top: 65px;
    padding-right: 48px;
    padding-left: 80px;
}

.footer-button-mail-custom {
    width: 100%;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background-color: #0F1A38;
    border: 1px solid white !important;
    height: 100%;
}

.footer-button-joinus-custom {
    width: 100%;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #FF5100;
}

.footer-title-list {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.footer-logo-a {
    height: 97px;
    width: 114px;
}

.footer-a-custom {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

.footer-pie {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color:#fff;
}