.nav-height-desktop {
    height: 60px;
}

.menu-items-desktop {
    width: 100% !important;
    position: relative;
    z-index: 2;
    height: 60px;
}

.menu-items-desktop-ul {
    list-style: none;
    
}

.menu-items-desktop-ul-li {
    display: inline-block;
}

a {
    display: block;
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: grey;
}

a:hover {
    background: #efefef;
}

.menu-items-desktop-ul-li-div {
    
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}

.menu-items-desktop-ul-li:hover .menu-items-desktop-ul-li-div {
    display: block;
}

.ul-vertical {
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 8px;
    display: inline-block;
}

.menu-items-desktop-logo {
    width: 18px;
    height: 18px;
}


.hide-menu-desktop-custom {
   height: 60px;
}

.show-menu-movil-custom {
}

@media (min-width:1200px) {
    .show-menu-movil-custom {
        display: none;
    }
    .hide-menu-desktop-custom {
        display: block;
    }
}

@media (max-width:1200px) {
    .hide-menu-desktop-custom {
        display: none;
    }
    .show-menu-movil-custom {
        display: block;
    }
}
