.nav-height-desktop {
    height: 60px;
}

.menu-items-desktop {
    width: 100% !important;
    position: relative;
    z-index: 1;
    height: 60px;
}

.menu-items-desktop-ul {
    list-style: none;
}

.menu-items-desktop-ul-li {
    display: inline-block; 
}

.menu-items-desktop-ul-li-img-selected {
    display: inline-block;
    position: absolute;
    top:60px
}

.a1 {
    display: block;
    padding: 18px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.menu-items-desktop-ul-li-div {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}

.menu-items-desktop-ul-li-a {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.menu-items-desktop-ul-li-a-submenu {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-items-desktop-ul-li-a-submenu-items {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-items-desktop-ul-li:hover .menu-items-desktop-ul-li-div {
    display: block;
}

.ul-vertical {
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 8px;
    display: inline-block;
}

.menu-items-desktop-logo {
    width: 30px;
    height: 30px;
}

.menu-items-desktop-icons {
    margin-left: 30px;
    margin-right: 30px;
}

.menu-items-desktop-img-selected {
    Width: 437px;
    Height: 402px;
}

.hide-menu-desktop-custom {
   height: 60px;
}

.show-menu-movil-custom {
}

@media (min-width:1200px) {
    .show-menu-movil-custom {
        display: none;
    }
    .hide-menu-desktop-custom {
        display: block;
    }
}

@media (max-width:1200px) {
    .hide-menu-desktop-custom {
        display: none;
    }
    .show-menu-movil-custom {
        display: block;
    }
}
