.nav-height-desktop {
    height: 60px;
}

.menu-items-desktop {
    width: 100% !important;
    position: relative;
    z-index: 2;
    height: 60px;
}

.menu-items-desktop ul {
    list-style: none;
}
/*
.menu-items-desktop-ul {
    
}*/

.menu-items-desktop-ul-li {
    display: inline-block;
    height: 60px;
}

.menu-items-desktop-ul-li-img-selected {
    display: inline-block;
    position: absolute;
    top:60px
}

.a1 {
    display: block;
    padding: 20px 18px 10px 18px;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.user-name { 
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-right: 5px;
}

.menu-items-desktop-ul-li-div {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}

.menu-items-desktop-ul-li-a {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-right: 5px;
}

.menu-items-desktop-ul-li-a-submenu {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-items-desktop-ul-li-a-submenu-items {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-items-desktop-ul-li:hover .menu-items-desktop-ul-li-div {
    display: block;
    height: 500px;
    width: 100%;
    /*border: 1px solid black;*/
}

.ul-vertical {
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 8px;
    display: inline-block;
}
/*
.menu-items-desktop-logo-size {
    width: 30px;
    height: 30px;
}*/

.menu-items-desktop-logo-size-1 {
    width: 20px;
    height: 20px;
}

.menu-items-desktop-icons-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-items-desktop-img-selected {
    Width: 437px;
    Height: 402px;
}

.hide-menu-desktop-custom {
   height: 60px;
}

.show-menu-movil-custom {
}

.pl-custom {
    margin-left: 112px;
}

.pr-custom {
    padding-right: 40px;
}

@media (min-width:1200px) {
    .show-menu-movil-custom {
        display: none;
    }
    .hide-menu-desktop-custom {
        display: block;
    }
}

@media (max-width:1200px) {
    .hide-menu-desktop-custom {
        display: none;
    }
    .show-menu-movil-custom {
        display: block;
    }
}

@media (min-width:1200px) {
    .pl-custom {
        margin-left: 40px;
    }
    .pr-custom {
        padding-right: 10px;
    }
}

@media (min-width:1300px) {
    .pl-custom {
        margin-left: 60px;
    }
    .pr-custom {
        padding-right: 15px;
    }
}

@media (min-width:1400px) {
    .pl-custom {
        margin-left: 70px;
    }
    .pr-custom {
        padding-right: 20px;
    }
}

@media (min-width:1500px) {
    .pl-custom {
        margin-left: 100px;
    }
    .pr-custom {
        padding-right: 30px;
    }
}

@media (min-width:1600px) {
    .pl-custom {
        margin-left: 120px;
    }
    .pr-custom {
        padding-right: 40px;
    }
}

/* sub-menu */

.form-desktop-find-by-car {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4AC3FD;;
}

.form-desktop-find-wire-by-zise {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: white;
}

.form-desktop-dropdowns {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    background-color: #FAFAFA;
}
